<% provide :title, @user.name %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<%= Time.now %> <%= @user.name %> <%= @user.email %> Created: <%=@user.created_at%> <strong>Updated: </strong><%= @user.updated_at%>
